<html>
<head>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://bootswatch.com/cerulean/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
<div id='header' class="header">
    {{#if user}}
        Logged in as: <b>{{user.username}}</b>.
        <a href='/users/logout'>Logout</a>
    {{else}}
        <a href='/users/login'>Login</a> | <a href='/users/signup'>Sign up</a>
    {{/if}}
</div>

{{{body}}}

</body>
</html>