<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SmartPlayDS Twitter Wall Moderator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://bootswatch.com/cerulean/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SmartPlayDS Twitter Wall Moderator</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/wall/{{user.hashtag}}" target="_blank">Go to wall</a></li>
            </ul>
            {{#if user.admin}}
                <ul class="nav navbar-nav">
                    <li><a href="/admin" target="_blank">Administration</a></li>
                </ul>
            {{/if}}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">{{user.hashtag}}</a></li>
            </ul>
        </div>
    </div>
</nav>
<button type="button" class="btn btn-primary" style="margin-left: 2%;">
    <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Automatic approval
</button>
<input class="time_approval" type="text" name="time_approval" value="60" maxlength="3" size="3"> secs
<h4><input class="retweets" type="checkbox" checked style="margin-left: 2%;"> Include retweets
    <input class="uploaded_images" type="checkbox" checked style="margin-left: 2%;"> Include images</h4>
    <ul class="tweets"></ul>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var play = false;
        var id_panel = 1;
        var timeouts = [];
        io.sockets = {};
        var socket = io.connect();
        var socketReceiverName = $('ul.navbar-right').children('li').text();

        function sendTweet(tweet_object) {
            $( tweet_object ).each(function() {
                socket.emit('wall' + socketReceiverName, {user: $(this).find('li.tweet_user').text(),
                    text: $(this).find('div.tweet_text').text(),
                    user_img: $(this).find('div.tweet_user_img').text(),
                    user_name: $(this).find('div.tweet_user_name').text(),
                    date: $(this).find('div.tweet_date').text()} );
                $(this).remove();
            });
        }

        function generateTweet(tweet) {
            var tweet_html = '<div class="panel panel-primary" id="' + id_panel + '" style="width:98%;"><div class="panel-body"><ul class="tweet"><li class="tweet_user" style="font-weight: bold;display: inline-block;">' + tweet.user + '</li> ( ' + '<div class="tweet_date" style="display: inline-block;">' + tweet.date + '</div>' + ' )' +
                    '<div class="tweet_text">' + tweet.text + '</div>' +
                    '<div class="tweet_user_img" style="display: none;">' + tweet.user_img + '</div>' +
                    '<div class="tweet_user_name" style="display: none;">' + tweet.user_name + '</div>';

            if(tweet.image != undefined) {
                tweet_html = tweet_html + '<div class="tweet_image" style="width:10%";><img style="position: absolute; bottom: xxpx;" src=' + tweet.image + '></div>';
            }
            tweet_html = tweet_html + '<button type="button" class="btn btn-success" style="padding-right: 20px; margin-right: 5px"> ' +
                '<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Accept</button>' + '<button type="button" class="btn btn-danger"> ' +
                '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove</button></div></div></div>';
            return tweet_html;

        }

        jQuery(function ($) {
            var tweet_list = $('ul.tweets');
            socket.on(socketReceiverName, function (tweet){
                tweet_list
                        .append(generateTweet(tweet));
                if(play) {
                    var seconds = parseInt($('input.time_approval').val())*1000;
                    var timeOut = setTimeout( 'sendTweet("#' + id_panel + '");', seconds);
                    timeouts.push(timeOut);
                    id_panel++;
                }
                else {
                    timeouts.forEach(function (timeout, index, object) {
                        clearTimeout(timeout);
                        object.splice(index, 1);
                    });
                }
            });
        });
        $(document).ready(function(){
            var timeOut;
            $(document).on("click", "button.btn-success" , function() {
                socket.emit('wall' + socketReceiverName, {user: $(this).parent().find('li.tweet_user').text(),
                                    text: $(this).parent().find('div.tweet_text').text(),
                                    user_img: $(this).parent().find('div.tweet_user_img').text(),
                                    user_name: $(this).parent().find('div.tweet_user_name').text(),
                                    date: $(this).parent().find('div.tweet_date').text()} );
                $(this).parent().parent().parent().remove();
            });
            $(document).on("click", "button.btn-danger" , function() {
                $(this).parent().parent().parent().remove();
            });
            $(document).on("click", "button.btn-primary", function(){
                $(this).find('span').toggleClass("glyphicon-play").toggleClass("glyphicon-stop");
                $(this).parent().find('input.time_approval').attr('disabled', !$(this).parent().find('input.time_approval').attr('disabled'));
                if( !play ){
                    play = true;
                    var seconds = parseInt($('input.time_approval').val())*1000;
                    timeOut = setTimeout( 'sendTweet("div.panel-primary");', seconds);
                }
                else {
                    play = false;
                    clearTimeout(timeOut);
                }
            });
        });

    </script>
</body>
</html>