<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://bootswatch.com/cerulean/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <title>SmartPlayDS Twitter Wall Moderator</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SmartPlayDS Twitter Wall Admin</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/users/create">Create user</a></li>
                <li><a href="/moderator">Go to moderator</a></li>
            </ul>
        </div>
    </div>
</nav>
<form action='/users/signup' method='post'>
    Username: <input type='text' name='username'><br>
    Password: <input type='password' name='password'><br>
    Password (confirmation): <input type='password' name='password_confirmation'><br>
    Assigned Hashtag or word: <input type='text' name='hashtag'><br>
    Administrator<input type="checkbox" name="admin" value="admin"><br>
    <button type='submit'>Create</button>
</form>
</body>
</html>